@model IPagedList<BuildingManagement.Models.MeterType>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "MeterTypes";
}

<h2>MeterTypes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "MeterType", FormMethod.Get))
{
    <p>
        Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Type", "Index", new {sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfMeterTypes)
    {
        <tr>
            <td>
                @item.Type
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
                @Html.ActionLink("Details", "Details", new {id = item.ID}) 
            </td>
        </tr>
    }
</table>
<br/>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfMeterTypes, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-3.3.1.js"></script>
