@model IPagedList<BuildingManagement.Models.Invoice>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Invoice", FormMethod.Get))
{
    <p>
        Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Client", "Index", new { sortOrder = ViewBag.ClientSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Provider", "Index", new { sortOrder = ViewBag.ProviderSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("InvoiceType", "Index", new { sortOrder = ViewBag.InvoiceTypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Number", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DueDate", "Index", new { sortOrder = ViewBag.DueDateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuantitySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CheckQuantity", "Index", new { sortOrder = ViewBag.CheckQuantitySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("TotalValueWithoutTVA", "Index", new { sortOrder = ViewBag.TotalValueWithoutTVASortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CheckTotalValueWithoutTVA", "Index", new { sortOrder = ViewBag.CheckTotalValueWithoutTVASortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("TotalTVA", "Index", new { sortOrder = ViewBag.TotalTVASortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CheckTotalTVA", "Index", new { sortOrder = ViewBag.CheckTotalTVASortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DiscountMonth", "Index", new { sortOrder = ViewBag.DiscountMonthSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
            Services
        </th>*@
        <th></th>
    </tr>

    @foreach (var invoice in ViewBag.OnePageOfInvoices)
    {
        <tr>
            <td>
                @invoice.Client.Name
            </td>
            <td>
                @invoice.Provider.Name
            </td>
            <td>
                @invoice.InvoiceType.Type
            </td>
            <td>
                @invoice.Number
            </td>
            <td>
                @invoice.Date
            </td>
            <td>
                @invoice.DueDate
            </td>
            <td>
                @invoice.Quantity
            </td>
            <td>
                @invoice.CheckQuantity
            </td>
            <td>
                @invoice.TotalValueWithoutTVA
            </td>
            <td>
                @invoice.CheckTotalValueWithoutTVA
            </td>
            <td>
                @invoice.TotalTVA
            </td>
            <td>
                @invoice.CheckTotalTVA
            </td>
            <td>
                @invoice.DiscountMonth
            </td>
            @*<td>
                @{
                    foreach (var service in invoice.Services)
                    {
                        @service.Name
                        <br/>
                    }
                }
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = invoice.ID}) |
                @Html.ActionLink("Details", "Details", new {id = invoice.ID}) |
                @Html.ActionLink("Delete", "Delete", new {id = invoice.ID}) |
                @if (!invoice.Closed)
                {
                    @Html.ActionLink("Close", "Close", "Invoice", new {id = invoice.ID}, null)
                }
                else
                {
                    @Html.ActionLink("Open", "Open", "Invoice", new {id = invoice.ID}, null)
                }
            </td>
        </tr>
        <tr>
            <td colspan="13">
                <details>
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                ValueWithoutTVA
                            </th>
                            <th>
                                TVA
                            </th>
                        </tr>
                        @foreach (var service in invoice.Services)
                        {
                            <tr>
                                <td>
                                    @service.Name
                                </td>
                                <td>
                                    @service.Quantity
                                </td>
                                <td>
                                    @service.ValueWithoutTVA
                                </td>
                                <td>
                                    @service.TVA
                                </td>
                            </tr>
                        }
                    </table>
                </details>
            </td>
        </tr>
    }
</table>
<br/>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfInvoices, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-1.10.2.js"></script>
