@model BuildingManagement.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueWithoutTVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueWithoutTVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuotaTVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuotaTVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inhabited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inhabited)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/jquery-1.10.2.js"></script>
