@model IPagedList<BuildingManagement.Models.SubSubMeter>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "SubSubMeter", FormMethod.Get))
{
    <p>
        Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Code", "Index", new {sortOrder = ViewBag.CodeSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Details", "Index", new {sortOrder = ViewBag.DetailsSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("InitialIndex", "Index", new {sortOrder = ViewBag.InitialIndexSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Defect", "Index", new {sortOrder = ViewBag.DefectSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("DistributionMode", "Index", new {sortOrder = ViewBag.DistributionModeSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("SubMeter", "Index", new {sortOrder = ViewBag.SubMeterSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Type
        </th>
        <th>
            Space
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfSubSubMeters)
    {
        <tr>
            <td>
                @item.Code
            </td>
            <td>
                @item.Details
            </td>
            <td>
                @item.InitialIndex
            </td>
            <td>
                @item.Defect
            </td>
            <td>
                @item.DistributionMode.Mode
            </td>
            <td>
                @item.SubMeter.Code
            </td>
            <td>
                @{
                    foreach (var meterType in item.MeterTypes)
                    {
                        @meterType.Type
                        <br/>
                    }
                }
            </td>
            <td>
                @{
                    foreach (var sct in item.Sections)
                    {
                        @sct.Number
                        <br/>
                    }
                }
                @{
                    foreach (var lvl in item.Levels)
                    {
                        @lvl.Number
                        <br/>
                    }
                }
                @{
                    foreach (var spc in item.Spaces)
                    {
                        @spc.Number
                        <br/>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
            </td>
        </tr>
    }
</table>
<br/>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfSubSubMeters, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
