<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("BM Administration", "Index", "Client", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="layout-menu-area">
            <div class="nav-side-menu">
                <div class="brand">Brand Logo</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="collapse" data-target="#Administration" class="collapsed">
                            <a href="#"><i class="fa fa-users fa-lg"></i> Adiministration <span class="arrow"></span></a>
                        </li>
                        <li>
                            <ul class="sub-menu collapse" id="Administration">
                                <li>@Html.ActionLink("Client", "Index", "Client")</li>
                                <li>@Html.ActionLink("SubClient", "Index", "SubClient")</li>
                                <li>@Html.ActionLink("DistributionMode", "Index", "DistributionMode")</li>
                                <li>@Html.ActionLink("MeterType", "Index", "MeterType")</li>
                                <li>@Html.ActionLink("Meter", "Index", "Meter")</li>
                                <li>@Html.ActionLink("MeterReading", "Index", "MeterReading")</li>
                                <li>@Html.ActionLink("SubMeter", "Index", "SubMeter")</li>
                                <li>@Html.ActionLink("SubMeterReading", "Index", "SubMeterReading")</li>
                                <li>@Html.ActionLink("SubSubMeter", "Index", "SubSubMeter")</li>
                                <li>@Html.ActionLink("SubSubMeterReading", "Index", "SubSubMeterReading")</li>
                                <li>@Html.ActionLink("Provider", "Index", "Provider")</li>
                                <li>@Html.ActionLink("InvoiceType", "Index", "InvoiceType")</li>
                                <li>@Html.ActionLink("Invoice", "Index", "Invoice")</li>
                                <li>@Html.ActionLink("Service", "Index", "Service")</li>
                                <li>@Html.ActionLink("Section", "Index", "Section")</li>
                                <li>@Html.ActionLink("Level", "Index", "Level")</li>
                                <li>@Html.ActionLink("SpaceType", "Index", "SpaceType")</li>
                                <li>@Html.ActionLink("Space", "Index", "Space")</li>
                                <li>@Html.ActionLink("Users", "Index", "UserManagement")</li>
                                <li>@Html.ActionLink("Languages", "Index", "Language")</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Operations" class="collapsed">
                            <a href="#"><i class="fa fa-globe fa-lg"></i> Operation <span class="arrow"></span></a>
                        </li>
                        <li>
                            <ul class="sub-menu collapse" id="Operations">
                                <li>@Html.ActionLink("InvoiceDistribution", "Index", "InvoiceDistribution")</li>
                                <li>@Html.ActionLink("Costs", "Index", "CostsTable")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layout-page-content-area">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @RenderBody()
            <hr />
            <footer></footer>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
