@model IPagedList<BuildingManagement.Models.MeterReading>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "MeterReadings";
}

<h2>MeterReadings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "MeterReading", FormMethod.Get))
{
    <p>
        Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Index", "Index", new { sortOrder = ViewBag.IndexSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Meter", "Index", new { sortOrder = ViewBag.MeterSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("MeterType", "Index", new { sortOrder = ViewBag.MeterTypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfMeterReadings)
    {
        <tr>
            <td>
                @item.Index
            </td>
            <td>
                @item.Date.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Meter.Code
            </td>
            <td>
                @item.MeterType.Type
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfMeterReadings, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-3.3.1.js"></script>
