@model IPagedList<BuildingManagement.Models.Client>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = BuildingManagement.Resources.Texts.Clients;
}

<h2>@BuildingManagement.Resources.Texts.Clients</h2>

<p>
    @Html.ActionLink(BuildingManagement.Resources.Texts.CreateNew, "Create")
</p>
@using (Html.BeginForm("Index", "Client", FormMethod.Get))
{
    <p>
        @BuildingManagement.Resources.Texts.Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value=@BuildingManagement.Resources.Texts.Search />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(BuildingManagement.Resources.Texts.Name, "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(BuildingManagement.Resources.Texts.Phone, "Index", new { sortOrder = ViewBag.PhoneSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(BuildingManagement.Resources.Texts.Address, "Index", new { sortOrder = ViewBag.AddressSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(BuildingManagement.Resources.Texts.Contact, "Index", new { sortOrder = ViewBag.ContactSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(BuildingManagement.Resources.Texts.Email, "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfClients)
    {
        @*@Html.HiddenFor(modelItem => item.ID, new { id = "ID" })*@
        <tr onclick="Edit();">
            <td>
                @item.Name
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Contact
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @Html.ActionLink(BuildingManagement.Resources.Texts.Details, "Details", new { id = item.ID }, new { @class = "details-icon" })
                @Html.ActionLink(BuildingManagement.Resources.Texts.Edit, "Edit", new { id = item.ID }, new { @class = "edit-icon" })
                @Html.ActionLink(BuildingManagement.Resources.Texts.Delete, "Delete", new { id = item.ID }, new { @class = "delete-icon" })
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfClients, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    function Edit() {
        var id = document.getElementById("ID").value;
        window.location.href = "/Client/Edit/" + id;
    }
</script>
