@using BuildingManagement.Models
@model BuildingManagement.ViewModels.InvoiceDistributionIndexData

@{
    ViewBag.Title = "Index";
}

<h2>InvoiceDistribution</h2>

@using (Html.BeginForm("Index", "InvoiceDistribution", FormMethod.Get))
{
    <div class="form-horizontal">
        <h4>InvoiceDistribution</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountMonth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountMonth, new { htmlAttributes = new { @id = "DiscountMonth", @class = "form-control", onchange = "GetInvoices()" } })
                @Html.ValidationMessageFor(model => model.DiscountMonth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client, "ClientID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientID", null, "Select...", htmlAttributes: new { @class = "form-control", onchange = "GetInvoices()" })
                @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Provider, "ProviderID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProviderID", null, "Select...", htmlAttributes: new { @class = "form-control", onchange = "GetInvoices()" })
                @Html.ValidationMessageFor(model => model.ProviderID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@if (Model.Invoices != null)
{
    <table class="table">
        <tr>
            <th>
                Client
            </th>
            <th>
                Provider
            </th>
            <th>
                InvoiceType
            </th>
            <th>
                Number
            </th>
            <th>
                Date
            </th>
            <th>
                DueDate
            </th>
            <th>
                PaidDate
            </th>
            <th>
                Quantity
            </th>
            <th>
                CheckQuantity
            </th>
            <th>
                TotalValueWithoutTVA
            </th>
            <th>
                CheckTotalValueWithoutTVA
            </th>
            <th>
                TotalTVA
            </th>
            <th>
                CheckTotalTVA
            </th>
            <th>
                DiscountMonth
            </th>
            <th>
            </th>
        </tr>
        @foreach (var invoice in Model.Invoices)
        {
            var invoiceCss = invoice.Closed ? "closedInvoice" : "openedInvoice";
            <tr class="@invoiceCss">
                <td>
                    @invoice.Client.Name
                </td>
                <td>
                    @invoice.Provider.Name
                </td>
                <td>
                    @invoice.InvoiceType.Type
                </td>
                <td>
                    @invoice.Number
                </td>
                <td>
                    @invoice.Date.ToString("dd/MM/yyyy")
                </td>
                <td style="@(invoice.DueDate < @DateTime.Now ? "color : Orange" : "color : Black")">
                    @invoice.DueDate.ToString("dd/MM/yyyy")
                </td>
                @if (invoice.PaidDate < invoice.Date)
                    {
                    <td></td>
                }
                else
                {
                    <td>@invoice.PaidDate.ToString("dd/MM/yyyy")</td>
                }
                <td style="@(invoice.Quantity != invoice.CheckQuantity ? "color : Orange" : "color : Black")">
                    @invoice.Quantity.ToString("0.##")
                </td>
                <td style="@(invoice.Quantity != invoice.CheckQuantity ? "color : Orange" : "color : Black")">
                    @invoice.CheckQuantity.ToString("0.##")
                </td>
                <td style="@(invoice.TotalValueWithoutTVA != invoice.CheckTotalValueWithoutTVA ? "color : Red" : "color : Black")">
                    @invoice.TotalValueWithoutTVA.ToString("0.##")
                </td>
                <td style="@(invoice.TotalValueWithoutTVA != invoice.CheckTotalValueWithoutTVA ? "color : Red" : "color : Black")">
                    @invoice.CheckTotalValueWithoutTVA.ToString("0.##")
                </td>
                <td style="@(invoice.TotalTVA != invoice.CheckTotalTVA ? "color : Red" : "color : Black")">
                    @invoice.TotalTVA.ToString("0.##")
                </td>
                <td style="@(invoice.TotalTVA != invoice.CheckTotalTVA ? "color : Red" : "color : Black")">
                    @invoice.CheckTotalTVA.ToString("0.##")
                </td>
                <td>
                    @invoice.DiscountMonth.ToString("MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Invoice", new { id = invoice.ID }, new { @class = "details-icon" })
                    @Html.ActionLink("Edit", "Edit", "Invoice", new { id = invoice.ID }, new { @class = "edit-icon" })
                    @Html.ActionLink("Delete", "Delete", "Invoice", new { id = invoice.ID }, new { @class = "delete-icon" })
                    @if (invoice.TotalValueWithoutTVA == invoice.CheckTotalValueWithoutTVA && invoice.TotalTVA == invoice.CheckTotalTVA)
                    {
                        if (!invoice.Closed)
                        {
                            @Html.ActionLink("Close", "Close", "Invoice", new { id = invoice.ID }, new { @class = "lock-icon", @style = "display:inline-block" })
                        }
                        else
                        {
                            @Html.ActionLink("Open", "Open", "Invoice", new { id = invoice.ID }, new { @class = "unlock-icon", @style = "display:inline-block" })
                        }
                    }
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <details>
                        <summary>Services</summary>
                        <table class="table">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Unit
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    TVA
                                </th>
                                <th>
                                    ValueWithoutTVA
                                </th>
                                <th>
                                    QuotaTVA
                                </th>
                                <th>
                                    DistributionMode
                                </th>
                                <th>
                                    MeterType
                                </th>
                                <th>
                                    Counted
                                </th>
                                <th>
                                </th>
                            </tr>
                            @foreach (var service in invoice.Services)
                            {
                                <tr>
                                    <td>
                                        @service.Name
                                    </td>
                                    <td>
                                        @service.Quantity.ToString("0.##")
                                    </td>
                                    <td>
                                        @service.Unit
                                    </td>
                                    <td>
                                        @service.Price.ToString("0.##")
                                    </td>
                                    <td>
                                        @service.TVA.ToString("0.##")
                                    </td>
                                    <td>
                                        @service.ValueWithoutTVA.ToString("0.##")
                                    </td>
                                    <td>
                                        @service.QuotaTVA.ToString("0.##")
                                    </td>
                                    @if (service.DistributionModeID == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@Enum.GetName(typeof(DistributionMode), service.DistributionModeID)</td>
                                    }
                                    @if (service.MeterType == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@service.MeterType.Type</td>
                                    }
                                    <td>
                                        <input type="checkbox" checked=@service.Counted disabled />
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", "Service", new { id = service.ID }, new { @class = "details-icon" })
                                        @if (!invoice.Closed)
                                        {
                                            if (!service.Distributed)
                                            {

                                                @Html.ActionLink("Edit", "Edit", "Service", new { id = service.ID }, new { @class = "edit-icon" })
                                                if (service.ParentID < 1)
                                                {
                                                    @Html.ActionLink("Delete", "Delete", "Service", new { id = service.ID }, new { @class = "delete-icon" })
                                                }
                                                if (service.Counted || service.DistributionModeID != null)
                                                {
                                                    @Html.ActionLink("Distribute", "Distribute", "Service", new {id = service.ID}, new {@class = "distribute-icon"})
                                                }
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Undistribute", "Undistribute", "Service", new { id = service.ID }, new { @class = "undistribute-icon" })
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (!invoice.Closed)
                        {
                            <p>
                                @Html.ActionLink("Create Service", "Create", "Service", new { invoiceId = invoice.ID }, null)
                            </p>
                        }
                    </details>
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Create Invoice", "Create", "Invoice", new { discountMonth = @Model.DiscountMonth, clientId = @Model.ClientID, providerId = @Model.ProviderID }, null)
</p>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        var minDate = (new Date('0001-01-01')).toUTCString();
        var discountMonth = new Date(document.getElementById("DiscountMonth").value).toUTCString();
        if (discountMonth === minDate) {
            document.getElementById("DiscountMonth").value = "";
        }
    });

    function GetInvoices() {
        var discountMonth = document.getElementById("DiscountMonth").value;
        var clientId = document.getElementById("ClientID").value;
        var providerId = document.getElementById("ProviderID").value;
        window.location.href = "/InvoiceDistribution/Index/?discountMonth=" + discountMonth + "&clientId=" + clientId + "&providerId=" + providerId;
    }
</script>
