@model IPagedList<BuildingManagement.Models.Provider>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Providers";
}

<h2>Providers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Provider", FormMethod.Get))
{
    <p>
        Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("FiscalCode", "Index", new { sortOrder = ViewBag.FiscalCodeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("TradeRegister", "Index", new { sortOrder = ViewBag.TradeRegisterSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Phone", "Index", new { sortOrder = ViewBag.PhoneSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("BankAccount", "Index", new { sortOrder = ViewBag.BankAccountSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Bank", "Index", new { sortOrder = ViewBag.BankSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("TVAPayer", "Index", new { sortOrder = ViewBag.TVAPayerSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfProviders)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.FiscalCode
            </td>
            <td>
                @item.TradeRegister
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.BankAccount
            </td>
            <td>
                @item.Bank
            </td>
            <td>
                <input type="checkbox" checked=@item.TVAPayer disabled />
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProviders, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-3.3.1.js"></script>
