@model IPagedList<BuildingManagement.Models.SubClient>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "SubClients";
}

<h2>SubClients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "SubClient", FormMethod.Get))
{
    <p>
        Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Phone", "Index", new {sortOrder = ViewBag.PhoneSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Country", "Index", new {sortOrder = ViewBag.CountrySortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("State", "Index", new {sortOrder = ViewBag.StateSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("City", "Index", new {sortOrder = ViewBag.CitySortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Street", "Index", new { sortOrder = ViewBag.StreetSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Contact", "Index", new {sortOrder = ViewBag.ContactSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new {sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("IBAN", "Index", new {sortOrder = ViewBag.IBANSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Bank", "Index", new {sortOrder = ViewBag.BankSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("CNP", "Index", new {sortOrder = ViewBag.CNPSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("FiscalCode", "Index", new { sortOrder = ViewBag.FiscalCodeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Client", "Index", new {sortOrder = ViewBag.ClientSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfSubClients)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.Country
            </td>
            <td>
                @item.State
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.Street
            </td>
            <td>
                @item.Contact
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.IBAN
            </td>
            <td>
                @item.Bank
            </td>
            <td>
                @item.CNP
            </td>
            <td>
                @item.FiscalCode
            </td>
            <td>
                @item.Client.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
                @Html.ActionLink("Details", "Details", new {id = item.ID}) 
            </td>
        </tr>
    }
</table>
<br/>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfSubClients, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-3.3.1.js"></script>
