@model IEnumerable<BuildingManagement.Models.Meter>

@{
    ViewBag.Title = "Meters";
}

<h2>Meters</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="Meters" class="table table-striped table-bordered" style="width: 100%;">
    <thead>
        <tr>
            <th style="display: none;">
                Id
            </th>
            <th>
                Code
            </th>
            <th>
                Details
            </th>
            <th>
                Defect
            </th>
            <th>
                DistributionMode
            </th>
            <th>
                Client
            </th>
            <th>
                Type
            </th>
            <th>
                Space
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
            {
            <tr>
                <td style="display: none;">
                    @item.ID
                </td>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Details
                </td>
                <td>
                    <input type="checkbox" checked=@item.Defect disabled />
                </td>
                <td>
                    @item.DistributionMode.Mode
                </td>
                <td>
                    @item.Client.Name
                </td>
                <td>
                    @{
                        foreach (var meterType in item.MeterTypes)
                        {
                            @meterType.Type
                            <br />
                        }
                    }
                </td>
                <td>
                    @{
                        foreach (var sct in item.Sections)
                        {
                            @sct.Number
                            <br />
                        }
                    }
                    @{
                        foreach (var lvl in item.Levels)
                        {
                            @lvl.Number
                            <br />
                        }
                    }
                    @{
                        foreach (var spc in item.Spaces)
                        {
                            @spc.Number
                            <br />
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
                        }
    </tbody>
</table>

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#Meters').DataTable();
    });
</script>
