@model BuildingManagement.Models.DistributionMode

@{
    ViewBag.Title = BuildingManagement.Resources.Texts.Details;
}

<h2>@BuildingManagement.Resources.Texts.Details</h2>

<div>
    <h4>@BuildingManagement.Resources.Texts.DistributionMode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@BuildingManagement.Resources.Texts.Mode</dt>
        <dd>@Html.DisplayFor(model => model.Mode)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/jquery-3.3.1.js"></script>
