@model IPagedList<BuildingManagement.Models.DistributionMode>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = BuildingManagement.Resources.Texts.DistributionModes;
}

<h2>@BuildingManagement.Resources.Texts.DistributionModes</h2>

<p>
    @Html.ActionLink(BuildingManagement.Resources.Texts.CreateNew, "Create")
</p>
@using (Html.BeginForm("Index", "DistributionMode", FormMethod.Get))
{
    <p>
        @BuildingManagement.Resources.Texts.Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value=@BuildingManagement.Resources.Texts.Search />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(BuildingManagement.Resources.Texts.Mode, "Index", new { sortOrder = ViewBag.ModeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfDistributionModes)
    {
        <tr>
            <td>
                @item.Mode
            </td>
            <td>
                @Html.ActionLink(BuildingManagement.Resources.Texts.Details, "Details", new { id = item.ID })
                @Html.ActionLink(BuildingManagement.Resources.Texts.Edit, "Edit", new { id = item.ID })
                @Html.ActionLink(BuildingManagement.Resources.Texts.Delete, "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfDistributionModes, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-3.3.1.js"></script>
