@model BuildingManagement.Models.Space

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Space</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.People)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.People)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inhabited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inhabited)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/jquery-1.10.2.js"></script>
