@model IPagedList<BuildingManagement.Models.Space>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Spaces";
}

<h2>Spaces</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Space", FormMethod.Get))
{
    <p>
        Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Level", "Index", new { sortOrder = ViewBag.LevelSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Number", "Index", new {sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Surface", "Index", new {sortOrder = ViewBag.SurfaceSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("People", "Index", new {sortOrder = ViewBag.PeopleSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Inhabited", "Index", new {sortOrder = ViewBag.InhabitedSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("SpaceType", "Index", new {sortOrder = ViewBag.SpaceTypeSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("SubClient", "Index", new {sortOrder = ViewBag.SubClientSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfSpaces)
    {
        <tr>
            <td>
                @item.Level.Number
            </td>
            <td>
                @item.Number
            </td>
            <td>
                @item.Surface
            </td>
            <td>
                @item.People
            </td>
            <td>
                <input type="checkbox" checked=@item.Inhabited disabled />
            </td>
            <td>
                @item.SpaceType.Type
            </td>
            <td>
                @item.SubClient.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
                @Html.ActionLink("Details", "Details", new { id = item.ID }) 
            </td>
        </tr>
    }
</table>
<br/>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfSpaces, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="~/Scripts/jquery-3.3.1.js"></script>
